aplicacion/src/java/META-INF/pruebaservicio.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.prueba.pangea.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio.prueba.pangea.com/" name="pruebaservicio">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio.prueba.pangea.com/" schemaLocation="http://192.168.1.111:15429/prueba/pruebaservicio?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://192.168.1.111:15429/prueba/pruebaservicio?xsd=2"/>
</xsd:schema>
</types>
<message name="crearEmpleado">
<part name="parameters" element="tns:crearEmpleado"/>
</message>
<message name="crearEmpleadoResponse">
<part name="parameters" element="tns:crearEmpleadoResponse"/>
</message>
<message name="crearProyecto">
<part name="parameters" element="tns:crearProyecto"/>
</message>
<message name="crearProyectoResponse">
<part name="parameters" element="tns:crearProyectoResponse"/>
</message>
<message name="crearCargo">
<part name="parameters" element="tns:crearCargo"/>
</message>
<message name="crearCargoResponse">
<part name="parameters" element="tns:crearCargoResponse"/>
</message>
<message name="promedioSueldoGeneral">
<part name="parameters" element="tns:promedioSueldoGeneral"/>
</message>
<message name="promedioSueldoGeneralResponse">
<part name="parameters" element="tns:promedioSueldoGeneralResponse"/>
</message>
<message name="cantidadEmpleadosJPQL">
<part name="parameters" element="tns:cantidadEmpleadosJPQL"/>
</message>
<message name="cantidadEmpleadosJPQLResponse">
<part name="parameters" element="tns:cantidadEmpleadosJPQLResponse"/>
</message>
<message name="listaDepartamentoMayor">
<part name="parameters" element="tns:listaDepartamentoMayor"/>
</message>
<message name="listaDepartamentoMayorResponse">
<part name="parameters" element="tns:listaDepartamentoMayorResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="todoJPQL">
<part name="parameters" element="tns:todoJPQL"/>
</message>
<message name="todoJPQLResponse">
<part name="parameters" element="tns:todoJPQLResponse"/>
</message>
<message name="todo">
<part name="parameters" element="tns:todo"/>
</message>
<message name="todoResponse">
<part name="parameters" element="tns:todoResponse"/>
</message>
<message name="descripcionCargo">
<part name="parameters" element="tns:descripcionCargo"/>
</message>
<message name="descripcionCargoResponse">
<part name="parameters" element="tns:descripcionCargoResponse"/>
</message>
<message name="cantidadEmpleados">
<part name="parameters" element="tns:cantidadEmpleados"/>
</message>
<message name="cantidadEmpleadosResponse">
<part name="parameters" element="tns:cantidadEmpleadosResponse"/>
</message>
<message name="listaDepartamento">
<part name="parameters" element="tns:listaDepartamento"/>
</message>
<message name="listaDepartamentoResponse">
<part name="parameters" element="tns:listaDepartamentoResponse"/>
</message>
<message name="promedioSueldo">
<part name="parameters" element="tns:promedioSueldo"/>
</message>
<message name="promedioSueldoResponse">
<part name="parameters" element="tns:promedioSueldoResponse"/>
</message>
<message name="crearDepartameto">
<part name="parameters" element="tns:crearDepartameto"/>
</message>
<message name="crearDepartametoResponse">
<part name="parameters" element="tns:crearDepartametoResponse"/>
</message>
<portType name="pruebaservicio">
<operation name="crearEmpleado">
<input wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/crearEmpleadoRequest" message="tns:crearEmpleado"/>
<output wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/crearEmpleadoResponse" message="tns:crearEmpleadoResponse"/>
</operation>
<operation name="crearProyecto">
<input wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/crearProyectoRequest" message="tns:crearProyecto"/>
<output wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/crearProyectoResponse" message="tns:crearProyectoResponse"/>
</operation>
<operation name="crearCargo">
<input wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/crearCargoRequest" message="tns:crearCargo"/>
<output wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/crearCargoResponse" message="tns:crearCargoResponse"/>
</operation>
<operation name="promedioSueldoGeneral">
<input wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/promedioSueldoGeneralRequest" message="tns:promedioSueldoGeneral"/>
<output wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/promedioSueldoGeneralResponse" message="tns:promedioSueldoGeneralResponse"/>
</operation>
<operation name="cantidadEmpleadosJPQL">
<input wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/cantidadEmpleadosJPQLRequest" message="tns:cantidadEmpleadosJPQL"/>
<output wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/cantidadEmpleadosJPQLResponse" message="tns:cantidadEmpleadosJPQLResponse"/>
</operation>
<operation name="listaDepartamentoMayor">
<input wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/listaDepartamentoMayorRequest" message="tns:listaDepartamentoMayor"/>
<output wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/listaDepartamentoMayorResponse" message="tns:listaDepartamentoMayorResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="todoJPQL">
<input wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/todoJPQLRequest" message="tns:todoJPQL"/>
<output wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/todoJPQLResponse" message="tns:todoJPQLResponse"/>
</operation>
<operation name="todo">
<input wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/todoRequest" message="tns:todo"/>
<output wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/todoResponse" message="tns:todoResponse"/>
</operation>
<operation name="descripcionCargo">
<input wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/descripcionCargoRequest" message="tns:descripcionCargo"/>
<output wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/descripcionCargoResponse" message="tns:descripcionCargoResponse"/>
</operation>
<operation name="cantidadEmpleados">
<input wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/cantidadEmpleadosRequest" message="tns:cantidadEmpleados"/>
<output wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/cantidadEmpleadosResponse" message="tns:cantidadEmpleadosResponse"/>
</operation>
<operation name="listaDepartamento">
<input wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/listaDepartamentoRequest" message="tns:listaDepartamento"/>
<output wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/listaDepartamentoResponse" message="tns:listaDepartamentoResponse"/>
</operation>
<operation name="promedioSueldo">
<input wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/promedioSueldoRequest" message="tns:promedioSueldo"/>
<output wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/promedioSueldoResponse" message="tns:promedioSueldoResponse"/>
</operation>
<operation name="crearDepartameto">
<input wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/crearDepartametoRequest" message="tns:crearDepartameto"/>
<output wsam:Action="http://servicio.prueba.pangea.com/pruebaservicio/crearDepartametoResponse" message="tns:crearDepartametoResponse"/>
</operation>
</portType>
<binding name="pruebaservicioPortBinding" type="tns:pruebaservicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="crearEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearProyecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearCargo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="promedioSueldoGeneral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cantidadEmpleadosJPQL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaDepartamentoMayor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="todoJPQL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="todo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="descripcionCargo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cantidadEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaDepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="promedioSueldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearDepartameto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="pruebaservicio">
<port name="pruebaservicioPort" binding="tns:pruebaservicioPortBinding">
<soap:address location="http://192.168.1.111:15429/prueba/pruebaservicio"/>
</port>
</service>
</definitions>